
<div class="container">
  <div class="popular">
    <h2 class="title">TOP TRACKS OF <%=@name%></h2>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Title</th>
          <th>URL</th>
        </tr>
      </thead>
      <tbody>
        <% @top_tracks.each do |track|%>
          <tr>
            <td><%=track["name"]%></td>
            <td><%=link_to track["url"], track["url"]%></td>
          </tr>
        <%end%>
      </tbody>

    </table>
  </div>
</div>
